.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input {
  width: auto;
  height: 40px;
  font-size: 20px;
  padding: 0;
}

.p {
  font-size: 20px;
}

.error {
  font-size: 24px;
  font-weight: 600;
}
